.shell {
    max-width: 1264px;
    padding-left: 77px;
    padding-right: 77px;
    margin: auto;
    width: 100%;
}
.btn {
    display: inline-block;
    text-decoration: none;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 999em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #ff3e1d;
    padding: 10px 23px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    -webkit-transition: background .4s;
    -o-transition: background .4s;
    transition: background .4s;
}
.btn:hover {
    background: #e70f0e;
}
.top_notibar, .top_notibar i, .header_search__btn i, .header_search .widget_search__form, .episode_head__right h4 a i, .cta_list li a {
    -webkit-transition: all 300ms cubic-bezier(0.2, 0.3, 0.25, 0.9) 0ms;
    -o-transition: all all 300ms cubic-bezier(0.2, 0.3, 0.25, 0.9) 0ms;
    transition: all 300ms cubic-bezier(0.2, 0.3, 0.25, 0.9) 0ms;
}
.container {
    margin: 0 auto;
}
.cust_row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.cust_row > div {
    padding-left: 15px;
    padding-right: 15px;
}
.comm_padd {
    padding: 70px 0;
}
.sm_padd {
    padding: 50px 0;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.spcace_center {
    justify-content: center;
}
.spcace_between {
    justify-content: space-between;
}
.light_text {
    color: #fff;
}
.width_100 {
    width: 100%;
}
.width_25 {
    width: 25%;
}
.width_30 {
    width: 30%;
}
.width_40 {
    width: 40%;
}
.width_50 {
    width: 50%;
}
.width_60 {
    width: 60%;
}
.width_70 {
    width: 70%;
}
.episode_head__left img {
    display: block;
    margin: 0 auto 5%;
    border-radius: 50%;
}
.episode_head__right h2 {
    margin: 0 0 10px;
}
.episode_head__right h5 {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 10px;
}
.episode_head__right .play_btn {
    display: inline-block;
    position: relative;
    margin-right: 6px;
}
.episode_head__right h4 {
    font-size: 18px;
}
.episode_head__right h2, .episode_head__right h4, .episode_head__right h5, .eposodes_sec h3, .epidoes_list__inn h4, .epidoes_list__inn h5, .epidoes_list__links {
    color: #2049e6;
}
.cta_list li {
    padding: 0 5px 5px 0;
    width: 33.33%;
    margin: 0;
}
.cta_list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.invisible {
    visibility: hidden;
}
.form-control {
    border: 1px solid transparent;
    padding: 10px 15px;
    height: 44px;
    background: rgba(255, 255, 255, 0.24);
    line-height: 1;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
    width: 100%;
}
.comm_form {
    margin-top: 20px;
}
.comm_form label {
    display: block;
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 5px;
}
.episodes_lists {
    margin-top: 20px;
}
.epidoes_list {
    padding: 15px;
}
.epidoes_list__inn {
    height: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,101,242,.1), 0 0 2px rgba(0,101,242,.1);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.epidoes_list__inn:hover {
    box-shadow: 0 1px 7px rgba(4, 88, 206, 0.1), 0 0 5px rgba(3, 83, 193, 0.2);
}
.epidoes_list__inn > a {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 9;
}
.epidoes_list__inn > a:hover ~ .epidoes_list__cont h4 {
    text-decoration: underline;
}
.epidoes_list__inn > a:hover ~ .epidoes_list__img img {
    transform: scale(1.05);
}
.epidoes_list__img {
    overflow: hidden;
}
.epidoes_list__img img {
    width: 100%;
    display: block;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.epidoes_list__imgin .abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 75%;
}
.epidoes_list__inn > a:hover ~ .epidoes_list__img img.abs {
    transform: translate(-50%, -50%) scale(1.05);
}
.epidoes_list__imgin {
    position: relative;
}
.epidoes_list__cont {
    padding: 15px 22px 60px;
}
.epidoes_list__cont h5 {
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 10px;
}
.epidoes_list__cont h4 {
    font-size: 18px;
    margin: 0 0 14px;
}
.epidoes_list__cont p {
    font-size: 14px;
    margin: 0;
}
.epidoes_list__links {
    position: absolute;
    left: 0;
    border: 0;
    padding: 0 22px 15px;
    width: 100%;
    bottom: 0;
    z-index: 9;
}
.single-podcast .epidoes_list__links .play_btn {
    display: none;
}
.single-podcast .epidoes_list__links a::after {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    content: "\f105";
    line-height: 1;
    display: inline-block;
    font-size: 13px;
    margin-left: 4px;
    vertical-align: middle;
}
.epidoes_list__links .play_btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.epidoes_list__links a {
    font-size: 14px;
    text-decoration: none;
}
.epidoes_list__links a:hover {
    text-decoration: underline;
}
.paddt_20 {
   margin-top: 20px;
}
.play_btn i {
    font-size: 12px;
    width: 28px;
    height: 28px;
    line-height: 26px;
    text-align: center;
    border: 2px solid #2049e6;
    border-radius: 50%;
    padding-left: 1px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    cursor: pointer;
}
.play_btn i.fa-pause {
    padding-left: 0;
}
.episode_head__right .play_btn i {
    font-size: 14px;
    width: 36px;
    height: 36px;
    line-height: 34px;
    padding-left: 3px;
}
.episode_head__right .play_btn i.fa-pause {
    padding-left: 0;
    background: #2049e6;
    color: #fff;
}
.play_btn i:hover, .play_btn i.fa-pause {
    background: #2049e6;
    color: #fff;
}
.play_top {
    padding: 10px;
    background: rgba(22, 22, 22, 0.8);
    left: 0;
    top: 100%;
    position: absolute;
    width: 100%;
}
.play_top .container {
    position: relative;
}
.play_top__btns {
    position: absolute;
    left: 0;
    top: 50%;
    width: 60px;
    padding-right: 30px;
    transform: translateY(-50%);
}
.play_top__btn {
    text-align: center;
    font-size: 20px;
    color: #fff;
}
.play_top__btn i {
    cursor: pointer;
}
.play_top__cont {
    padding: 0 0 0 60px;
}
.play_top__cont p {
    font-size: 15px;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.play_top__cont h4 {
    margin: 0;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
    height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    line-height: 1;
}
div.wpcf7-response-output {
    margin: 10px 0 0 !important;
    padding: 4px !important;
    border-width: 0 !important;
    font-size: 18px;
    font-weight: 600;
    color: #666;
    text-align: center !important;
}
.light_text div.wpcf7-response-output {
    color: #fff;
}
span.wpcf7-not-valid-tip {
    color: #f00;
    font-size: 15px !important;
    margin: 4px 0 0 !important;
    font-weight: 500 !important;
}
.light_text span.wpcf7-not-valid-tip {
    color: #fff;
}
div.wpcf7-response-output.wpcf7-mail-sent-ok {
    color: #2049e6;
    font-weight: 700;
    font-weight: 700;
    margin: 10px 0 0 !important;
}
.light_text div.wpcf7-response-output.wpcf7-mail-sent-ok {
    color: #fff;
}
.d-none {
    display: none;
}
.player_modal {
    -webkit-transition: all 300ms cubic-bezier(0.2, 0.3, 0.25, 0.9) 0ms;
    -o-transition: all all 300ms cubic-bezier(0.2, 0.3, 0.25, 0.9) 0ms;
    transition: all 300ms cubic-bezier(0.2, 0.3, 0.25, 0.9) 0ms;
}
.player_btm__toggle {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
}
.player_btm__play {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: #0b289b;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding-left: 4px;
    z-index: 999;
}
.player_btm__play .fa-pause {
    margin-left: -4px;
}
.player_btm__play:hover, .player_btm__play:focus {
    color: #0b289b;
    background: #fff;
}
.player_btm__toggle:hover, .player_btm__toggle:focus {
    opacity: 0.8;
}
.player_btm__inn {
    position: relative;
    padding: 0 80px 0 66px;
}
.player_btm .cust_row {
    height: 80px;
    padding: 14px 0;
}
.player_modal + footer {
    padding-bottom: 120px;
}
.player_btm {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background: #1fb6fb;
    color: #fff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.44);
}
.player_btm__open {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
}
.player_btm__time, .player_btm__duration {
    font-size: 13px;
    font-weight: 500;
}
.player_btm__inn h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    margin: 0;
    font-size: 15px;
    font-weight: 600;
}
.player_btm__inn p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    margin: 0;
    font-size: 13px;
    font-weight: 500;
}
.player_modal__toggle i {
    margin: 0 4px;
}
.player_modal__toggle {
    position: absolute;
    color: #fff;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 0;
    background: #1fb6fb;
    text-decoration: none;
}
.player_modal__inn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 70px);
    overflow-y: auto;
    padding: 0 15px 20px;
    position: relative;
    margin: 70px 0 0;
    flex-wrap: wrap;
}
.player_modal {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: #040d31;
    color: #fff;
    height: 100%;
    transform: scaleY(0) translateY(100%);
    transform-origin: center bottom;
}
body.player_active {
    overflow: hidden;
}
.player_modal.player_active {
    transform: scaleY(1) translateY(0);
}
.player_modal__btns > li .btn {
    font-size: 15px;
    padding: 12px 17px;
}
.player_modal__btns > li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0;
}
.player_modal__btns {
    position: relative;
    bottom: 0;
    list-style: none;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    margin: 0 0 10px;
    z-index: 999;
}
.player_modal__cont h4 {
    margin: 0 0 6px;
    font-size: 18px;
    font-weight: 600;
}
.player_modal__cont p {
    font-size: 17px;
    margin: 0;
}
.player_modal__desc {
    padding: 20px 0;
}
.player_modal__desc p {
    font-size: 16px;
}
.player_bar {
    position: relative;
    width: calc(100% - 100px);
    margin: 50px auto 30px;
}
.player_bar__seek {
    position: absolute;
    left: 0;
    width: 8px;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    background: rgb(209, 209, 209);
}
.player_bar__time {
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -50px;
}
.player_bar__time.right {
    right: -50px;
    left: auto;
}
.player_bar__item {
    width: 100%;
    height: 14px;
    background: rgba(157, 157, 157, 0.33);
}
.player_btns button:hover {
    color: #fff;
}
.player_btns button {
    padding: 0;
    border: 0;
    background: transparent;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    color: rgba(255, 255, 255, 0.39);
    font-size: 24px;
    cursor: pointer;
}
.player_btns button.player_btns__play:hover {
    color: #fff;
    background: #1fb6fb;
}
.player_btns button.player_btns__play {
    background: #fff;
    color: #0b289b;
    width: 100px;
    height: 100px;
    font-size: 40px;
    border-radius: 50%;
    padding-left: 8px;
}
.player_btns button.player_btns__play i.fa-pause {
    margin-left: -8px;
}
.player_modal__list__cont p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}
.player_modal__list .cust_row {
    border-top: 2px solid #0b289b;
    padding: 15px 0;
    margin: 0;
}
.player_modal__list .cust_row > div {
    padding: 0;
}
.player_modal__list .cust_row:last-child {
    border-bottom: 2px solid #0b289b;
}
.player_modal__list .player_btm__play:hover {
    color: #fff;
    background: #1fb6fb;
}
.player_modal__list .player_btm__play {
    color: #fff;
}
.player_modal__list {
    position: absolute;
    background: #fff;
    height: 100%;
    width: 100%;
    color: rgba(0, 0, 0, 0.63);
    padding: 60px 0 80px;
    overflow-y: auto;
    top: 0;
}
.player_modal__listtoggle.active i:before {
    content: "\f00d";
}
.player_modal__share.active i:before {
    content: "\f00d";
}
.player_modal__social ul li a:hover i {
    color: #fff;
    background: #1fb6fb;
}
.player_modal__social ul li a i {
    width: 42px;
    background: #fff;
    height: 42px;
    line-height: 42px;
    color: #000;
    border-radius: 50%;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.51);
}
.player_modal__social ul li a {
    display: block;
}
.player_modal__social ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1px;
    text-align: center;
}
.player_modal__social ul {
    padding: 0;
    list-style: none;
    font-size: 15px;
    margin: 0;
    width: 220px;
}
.player_modal__social {
    position: absolute;
    top: -46px;
    left: 50%;
    transform: translateX(-50%) scale(0);
}
.player_modal__social.active {
    transform: translateX(-50%) scale(1);
}
.audio_thumb {
    width: 200px;
    display: block;
    margin: 0 auto 48px;
    border-radius: 10px;
}
.pagination a:focus i, .pagination a:hover i, .pagination .active a i {
    color: #fff;
}
.pagination a:focus, .pagination a:hover, .pagination .current {
    background: #2049e6 !important;
    color: #fff;
}
.pagination a, .pagination span {
    width: 36px;
    padding: 0;
    line-height: 36px;
    font-size: 15px;
    font-weight: 500;
    border: 0;
    border-radius: 5px !important;
    color: #2049e6;
    margin: 0 4px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
}
.pagination {
    margin: 20px 0 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.comm_form label + br {
    display: none;
}
.comm_form .btn {
    border-radius: 2rem;
}
.podcast_notes {
    background: #f1f8ff;
    border-bottom: 2px solid rgba(31, 182, 251, 0.07);
}
.podcast_notes h2, .podcast_notes h3 {
    text-align: center;
}
.top_notibar p i:hover {
    background: rgb(255, 62, 29);
    color: #ffffff;
}
.top_notibar p i {
    cursor: pointer;
    top: 50%;
    right: 0;
    position: absolute;
    transform: translateY(-50%);
    background: #fff;
    color: #2049e6;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.34);
}
.top_notibar p {
    margin: 0;
    padding-right: 38px;
    position: relative;
    font-size: 16px;
}
.top_notibar {
    background: #2049e6;
    color: #fff;
    height: 0;
    overflow: hidden;
    padding: 0;
    font-size: 15px;
    text-align: center;
    line-height: 1.3;
}
.top_notibar.active {
    height: auto;
    padding: 18px 0 15px;
}
.top_notibar .container-fluid {
    padding: 0 40px;
}
.podcast_cats li a {
    display: block;
}
.podcast_cats li a:hover {
    color: #2049e6;
}
.podcast_cats li:not(.podcast_cats__title) a::after {
    content: ",";
}
.podcast_cats li:not(.podcast_cats__title):last-child a::after {
    display: none;
}
.podcast_cats li.podcast_cats__title::after {
    content: ":";
}
.podcast_cats li {
    margin: 0 10px 4px 0;
    line-height: 1.2;
}
.podcast_cats li.podcast_cats__title {
    font-weight: 500;
    color: #2049e6;
}
.podcast_cats {
    margin: 10px 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.widget_search__form button {
    background: #ff3e1d;
    border: 0;
    width: 48px;
    color: #fff;
}
header .widget_search__form input[type="text"] {
    border-radius: 2rem 0 0 2rem;
    padding-left: 1.4rem;
}
header .widget_search__form button {
    border-radius: 0 3rem 3rem 0;
}
.widget_search__form button:hover {
    background: #e70f0e;
}
.widget_search__form form {
    display: flex;
    max-width: 420px;
}
.widget_search__form input[type="text"]:focus {
    border-color: #2049e6;
}
.widget_search__form input[type="text"] {
    border-color: rgba(32, 73, 230, 0.12);
    border-right: 0;
}
.header_search .widget_search__form {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    width: 450px;
    max-width: 280px;
    right: 48px;
    color: #000;
    opacity: 0;
    visibility: hidden;
}
.header_search.active .widget_search__form {
    opacity: 1;
    visibility: visible;
}
.header_search {
    position: relative;
    margin-left: 10px;
    padding-left: 10px;
}
.header .header__actions {
    display: flex;
    align-items: center;
}
.header_search__btn i {
    width: 38px;
    height: 38px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2049e6;
    color: #fff;
    border-radius: 50%;
    font-size: 15px;
}
.header_search__btn i:hover {
    background: #ff3e1d;
}
.header_search.active .header_search__btn i::before {
    content: "\f00d";
}
.epidoes_list__links .play_btn.loading, .player_btm__play.loading, .episode_head__right .play_btn.loading {
    background: transparent;
}
.epidoes_list__links .play_btn.loading i, .player_btm__play.loading i, .episode_head__right .play_btn.loading i {
    opacity: 0;
}
.epidoes_list__links .play_btn.loading::after, .player_btm__play.loading::after, .episode_head__right .play_btn.loading::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    left: 0;
    top: 0;
    z-index: 3;
    background-image: url('../images/loading.svg');
    background-size: 22px;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 1px 2px rgba(32, 73, 230, 0.43);
}
.cta_list li img {
    height: 32px;
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
}
.cta_list li a {
    border-radius: 12px;
    box-shadow: rgb(223, 224, 225) 0px 0px 0px 2px inset;
    padding: 8px 18px 8px 54px;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-weight: 500;
    line-height: 1.1;
    height: 100%;
}
.cta_list li a:hover {
    box-shadow: rgb(32, 73, 230) 0px 0px 0px 2px inset;
}
.cta_list li a span {
    display: block;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
}
.episode_head__right h4 a {
    display: inline-block;
    text-decoration: none;
    margin-left: 6px;
}
.episode_head__right h4 a i {
    background: #ff3e1d;
    width: 32px;
    font-size: 16px;
    color: #fff;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.episode_head__right h4 a:hover i {
    background: #e70f0e;
}
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}
.comm_form input {
    height: 44px !important;
    max-width: 164px !important;
}
.light_text .comm_form label {
    color: #fff !important;
}
.comm_form .gform_body {
    display: inline-flex !important;
    width: auto !important;
    padding-right: 30px !important;
}
.comm_form .gform_footer.top_label {
    display: inline-flex !important;
    width: auto !important;
}
.comm_form input[type="submit"] {
    font-size: 18px !important;
    margin-top: 26px !important;
}
.light_text input::-webkit-input-placeholder {
    color: #fff !important;
    opacity: 1 !important;
}
.light_text input::-moz-placeholder {
    color: #fff !important;
    opacity: 1 !important;
}
.light_text input:-ms-input-placeholder, .light_text input::-ms-input-placeholder {
    color: #fff !important;
    opacity: 1 !important;
}
.light_text input::placeholder {
    color: #fff !important;
    opacity: 1 !important;
}
.comm_form .form-control.gfield {
    height: auto;
}
.gform_validation_error .comm_form .validation_message {
    display: block !important;
    color: #fff !important;
    margin: 7px 0 8px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}
.comm_form .gform_heading {
    display: none !important;
}
.contact_sec .comm_form {
    margin-top: 20px !important;
}


@media (min-width: 768px) {
    .audio_thumb {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .width_md_33 {
        width: 33.33%;
    }
    .width_md_80 {
        width: 80%;
    }
}

@media (max-width: 1023px) {
    .top_notibar .container-fluid {
        padding: 0 18px;
    }
    .nav .menu > li:hover > a:before {
        opacity: 0;
    }
    .nav .menu > li:hover > a {
        background: #103294;
    }
    .header .header__actions {
        display: none;
    }
}

@media (max-width: 868px) {
    .comm_form input {
        max-width: none !important;
    }
    .comm_form .gform_body {
        display: block !important;
        width: 100% !important;
        padding-right: 0 !important;
    }
    .comm_form .gform_footer.top_label {
        display: block !important;
        width: 100% !important;
        margin: 0 0 0 !important;
    }
    .comm_form .gfield .ginput_container {
        height: auto !important;
    }
    .comm_form input[type="submit"] {
        margin-top: 0 !important;
    }
}
@media (max-width: 767.98px) {
    .mob_full {
        width: 100%;
    }
    .width_sm_50 {
        width: 50%;
    }
    .d-mob-none {
        display: none !important;
    }
    .comm_form .form-control {
        margin-bottom: 14px;
    }
    .player_btns button.player_btns__play {
        width: 70px;
        height: 70px;
        font-size: 28px;
    }
    .cta_list li {
        text-align: center;
        padding: 0 0 7px;
        width: 100%;
    }
    .cta_list li a {
        min-width: 208px;
        display: inline-flex;
    }
    .podcast_cats {
        align-items: center;
        justify-content: center;
        margin: 18px 0 0;
    }
}

@media (max-width: 575.98px) {
    .width_xs_100 {
        width: 100%;
    }
}

@media (max-width: 475px) {
    .audio_thumb {
        width: 120px;
        margin: 0 auto 18px;
    }
}